* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  background: #000000;
  font-family: "Inter";
}

header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__menu {
    display: flex;
    align-items: center;
    gap: 40px;
    a {
      font-family: Inter;
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      color: #ffffff;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-shadow: 0px 4px 7.4px #ffffff;
    }
  }
}

.section1 {
  background-image: url(./images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 594px;
}

.position {
  padding-top: 37px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 81px;
  h1 {
    border-radius: 30px;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    color: #000000;
    box-shadow: 16px 18px 28px 0px #ffffff40;
    width: 602px;
    margin: 0 auto;
    background-color: white;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
  }
  &__card {
    position: relative;
    .box {
      width: 237px;
      height: 209px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Inter;
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      color: #ff0606;
      text-shadow: 0px 4px 7.4px #ffffff;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }
    .box1 {
      position: relative;
      box-shadow: 0px 22px 27.8px 0px #fff9f940;
      background: #32fb00;
    }
    .box2 {
      position: absolute;
      background: #f70101;
      color: white;
      box-shadow: 0px 18px 26.5px 0px #fb000040;
    }
  }
  &__card:nth-child(1) {
    .box2 {
      top: -120px;
      left: 120px;
    }
  }
  &__card:nth-child(2) {
    .box2 {
      bottom: 120px;
      width: 411px;
      left: -85px;
      border-radius: 100px;
    }
  }
  &__card:nth-child(3) {
    .box2 {
      top: -120px;
      left: -120px;
    }
  }
  &__infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &__info {
    width: 368px;
    height: 332px;
    background: #7b2525;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    h2 {
      font-family: Inter;
      font-weight: 700;
      font-style: Bold;
      font-size: 32px;
      text-shadow: 0px 4px 7.4px #ffffff;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      color: white;
    }
    p {
      font-family: Inter;
      font-weight: 700;
      font-style: Bold;
      font-size: 20px;
      color: white;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      width: 245px;
    }
  }
  &__info:nth-child(1) {
    gap: 68px;
  }
  &__info:nth-child(2) {
    gap: 87px;
  }
  &__info:nth-child(3) {
    gap: 36px;
  }
}

.footer{
  margin-top: 105px;
  &__menu{
    display: flex;
    align-items: center;
    gap: 120px; 
  }
}